<a href="https://colab.research.google.com/github/eleven111101/Lasso_Ridge_Regression_01/blob/main/LaRi_Melbourne_Housing_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [203]:
print("Hello_world")

Hello_world

In [204]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [205]:
df=pd.read_csv("/content/Melbourne_housing_FULL.csv")

In [206]:
df.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,3/9/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,4/2/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,4/2/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,4/3/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,4/3/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra City Council,-37.7969,144.9969,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4.0,h,1600000.0,VB,Nelson,4/6/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.8072,144.9941,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4.0,h,NaN,SN,Nelson,6/8/2016,2.5,3067.0,...,2.0,2.0,400.0,220.0,2006.0,Yarra City Council,-37.7965,144.9965,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2.0,h,NaN,S,Biggin,6/8/2016,2.5,3067.0,...,1.0,2.0,201.0,NaN,1900.0,Yarra City Council,-37.7995,144.9974,Northern Metropolitan,4019.0
9,Abbotsford,99 Turner St,2.0,h,NaN,S,Collins,6/8/2016,2.5,3067.0,...,2.0,1.0,202.0,NaN,1900.0,Yarra City Council,-37.7996,144.9989,Northern Metropolitan,4019.0

In [207]:
# Check for null values without modifying DataFrame
df.isnull().sum()

Suburb              0
Address             1
Rooms               1
Type                1
Price            3216
Method              1
SellerG             1
Date                1
Distance            1
Postcode            1
Bedroom2         3106
Bathroom         3106
Car              3106
Landsize         3123
BuildingArea     8273
YearBuilt        7331
CouncilArea         1
Lattitude        3004
Longtitude       3004
Regionname          1
Propertycount       1
dtype: int64

In [ ]:
null_values = df[df.isnull()]
print(null_values.to_string())

In [209]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14548 entries, 0 to 14547
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         14548 non-null  object
 1   Address        14547 non-null  object
 2   Rooms          14547 non-null  float64
 3   Type           14547 non-null  object
 4   Price          11332 non-null  float64
 5   Method         14547 non-null  object
 6   SellerG        14547 non-null  object
 7   Date           14547 non-null  object
 8   Distance       14547 non-null  float64
 9   Postcode       14547 non-null  float64
 10  Bedroom2       11442 non-null  float64
 11  Bathroom       11442 non-null  float64
 12  Car            11442 non-null  float64
 13  Landsize       11425 non-null  float64
 14  BuildingArea   6275 non-null   float64
 15  YearBuilt      7217 non-null   float64
 16  CouncilArea    14547 non-null  object
 17  Lattitude      11544 non-null  float64
 18  Longtitude     11544 non-null  float64
 19  Regionname     14547 non-null  object
 20  Propertycount  14547 non-null  float64
dtypes: float64(13), object(8)
memory usage: 2.3+ MB

In [210]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,14547.000000,1.133200e+04,14547.000000,14547.000000,11442.000000,11442.000000,11442.000000,11425.000000,6275.000000,7217.000000,11544.000000,11544.000000,14547.000000
mean,2.898261,1.073800e+06,8.746807,3099.123049,2.846356,1.531900,1.542388,473.215317,147.362333,1960.479008,-37.811371,144.991129,7456.408675
std,0.986762,6.586303e+05,3.830887,64.082863,1.014702,0.716827,0.962633,1172.095861,141.542578,38.082605,0.061769,0.075531,4403.186909
min,1.000000,8.500000e+04,1.200000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1800.000000,-38.181630,144.544680,389.000000
25%,2.000000,6.370000e+05,5.900000,3046.000000,2.000000,1.000000,1.000000,144.000000,90.000000,1930.000000,-37.854200,144.940300,4442.000000
50%,3.000000,8.952500e+05,8.800000,3085.000000,3.000000,1.000000,1.000000,355.000000,125.000000,1965.000000,-37.808700,144.997900,6567.000000
75%,3.000000,1.328500e+06,11.400000,3146.000000,3.000000,2.000000,2.000000,628.000000,176.000000,1998.000000,-37.764400,145.047100,10331.000000
max,12.000000,8.000000e+06,45.900000,3978.000000,30.000000,12.000000,26.000000,75100.000000,6791.000000,2106.000000,-37.496420,145.526350,21650.000000

In [ ]:
df["SellerG"].unique()

In [212]:
df.shape

(14548, 21)

In [213]:
df["Bedroom2"].isnull().sum()

3106

In [214]:
df.isnull().sum()

Suburb              0
Address             1
Rooms               1
Type                1
Price            3216
Method              1
SellerG             1
Date                1
Distance            1
Postcode            1
Bedroom2         3106
Bathroom         3106
Car              3106
Landsize         3123
BuildingArea     8273
YearBuilt        7331
CouncilArea         1
Lattitude        3004
Longtitude       3004
Regionname          1
Propertycount       1
dtype: int64

In [215]:
# For columns axis=0
df.isnull().sum(axis=0).sort_values(ascending=False)

BuildingArea     8273
YearBuilt        7331
Price            3216
Landsize         3123
Bedroom2         3106
Bathroom         3106
Car              3106
Longtitude       3004
Lattitude        3004
Regionname          1
CouncilArea         1
Propertycount       1
Address             1
Postcode            1
Distance            1
Date                1
SellerG             1
Method              1
Type                1
Rooms               1
Suburb              0
dtype: int64

In [216]:
# For rows axis=1
df.isnull().sum(axis=1).sort_values(ascending=False)

14547    20
5814      9
12442     9
12430     9
12416     9
         ..
8686      0
8684      0
2067      0
8678      0
9146      0
Length: 14548, dtype: int64

In [217]:
df[df.isnull().any(axis=1)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,3/9/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,4/2/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3.0,h,850000.0,PI,Biggin,4/3/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra City Council,-37.79690,144.99690,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4.0,h,NaN,SN,Nelson,6/8/2016,2.5,3067.0,...,2.0,2.0,400.0,220.0,2006.0,Yarra City Council,-37.79650,144.99650,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14542,Nunawading,90 Springvale Rd,3.0,h,926000.0,S,Fletchers,1/7/2017,15.4,3131.0,...,1.0,0.0,738.0,NaN,1954.0,Manningham City Council,-37.81376,145.17641,Eastern Metropolitan,4973.0
14544,Oak Park,3/18 Lex Gr,3.0,u,700000.0,VB,Nelson,1/7/2017,11.2,3046.0,...,NaN,NaN,NaN,NaN,NaN,Moreland City Council,NaN,NaN,Northern Metropolitan,2651.0
14545,Oakleigh East,1725 Dandenong Rd,5.0,h,1525000.0,S,Ray,1/7/2017,12.3,3166.0,...,3.0,6.0,774.0,NaN,NaN,Monash City Council,-37.90119,145.10680,Southern Metropolitan,2547.0
14546,Oakleigh East,82 Patrick St,6.0,h,1900000.0,PI,Ray,1/7/2017,12.3,3166.0,...,4.0,3.0,1063.0,NaN,NaN,Monash City Council,-37.90900,145.12059,Southern Metropolitan,2547.0
14547,Oaklei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [218]:
df.isnull().sum(axis=0).sort_values(ascending=False) / len(df) *100

BuildingArea     56.866923
YearBuilt        50.391806
Price            22.106131
Landsize         21.466868
Bedroom2         21.350014
Bathroom         21.350014
Car              21.350014
Longtitude       20.648886
Lattitude        20.648886
Regionname        0.006874
CouncilArea       0.006874
Propertycount     0.006874
Address           0.006874
Postcode          0.006874
Distance          0.006874
Date              0.006874
SellerG           0.006874
Method            0.006874
Type              0.006874
Rooms             0.006874
Suburb            0.000000
dtype: float64

In [219]:
columns_drop=["BuildingArea","YearBuilt"]

In [220]:
df.drop(columns_drop , axis=1 , inplace=True)

In [221]:
df.shape

(14548, 19)

In [222]:
len(df[df.isnull().sum(axis=1) > 5 ]) / len(df) *100

20.552653285675007

In [223]:
df[df.isnull().sum(axis=1)  > 5]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
15,Abbotsford,217 Langridge St,3.0,h,1000000.0,S,Jellis,8/10/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2.0,t,745000.0,S,Jellis,8/10/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
19,Abbotsford,403/609 Victoria St,2.0,u,542000.0,S,Dingle,8/10/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
21,Abbotsford,25/84 Trenerry Cr,2.0,u,760000.0,SP,Biggin,10/12/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
22,Abbotsford,106/119 Turner St,1.0,u,481000.0,SP,Purplebricks,10/12/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14530,Noble Park,3/3 Baldwin Av,2.0,u,466500.0,S,Leyton,1/7/2017,22.7,3174.0,NaN,NaN,NaN,NaN,Greater Dandenong City Council,NaN,NaN,South-Eastern Metropolitan,11806.0
14535,North Melbourne,6/8 Tyrone St,2.0,u,580000.0,VB,Alexkarbon,1/7/2017,1.8,3051.0,NaN,NaN,NaN,NaN,Melbourne City Council,NaN,NaN,Northern Metropolitan,6821.0
14540,Nunawading,3/1 Crest Gr,2.0,u,637000.0,S,Ray,1/7/2017,15.4,3131.0,NaN,NaN,NaN,NaN,Manningham City Council,NaN,NaN,Eastern Metropolitan,4973.0
14544,Oak Park,3/18 Lex Gr,3.0,u,700000.0,VB,Nelson,1/7/2017,11.2,3046.0,NaN,NaN,NaN,NaN,Moreland City Council,NaN,NaN,Northern Metropolitan,2651.0
14547,Oaklei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [224]:
df[df.isnull().sum(axis=1)  <= 5]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2.0,h,NaN,SS,Jellis,3/9/2016,2.5,3067.0,2.0,1.0,1.0,126.0,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2.0,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2.0,h,1035000.0,S,Biggin,4/2/2016,2.5,3067.0,2.0,1.0,0.0,156.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3.0,u,NaN,VB,Rounds,4/2/2016,2.5,3067.0,3.0,2.0,1.0,0.0,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3.0,h,1465000.0,SP,Biggin,4/3/2017,2.5,3067.0,3.0,2.0,0.0,134.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14541,Nunawading,31 Olwen St,4.0,h,1100000.0,S,Fletchers,1/7/2017,15.4,3131.0,4.0,2.0,3.0,596.0,Manningham City Council,-37.80827,145.18099,Eastern Metropolitan,4973.0
14542,Nunawading,90 Springvale Rd,3.0,h,926000.0,S,Fletchers,1/7/2017,15.4,3131.0,3.0,1.0,0.0,738.0,Manningham City Council,-37.81376,145.17641,Eastern Metropolitan,4973.0
14543,Oak Park,13 Kiama St,2.0,t,610000.0,S,Nelson,1/7/2017,11.2,3046.0,2.0,1.0,1.0,182.0,Moreland City Council,-37.71200,144.91761,Northern Metropolitan,2651.0
14545,Oakleigh East,1725 Dandenong Rd,5.0,h,1525000.0,S,Ray,1/7/2017,12.3,3166.0,5.0,3.0,6.0,774.0,Monash City Council,-37.90119,145.10680,Southern Metropolitan,2547.0
14546,Oakleigh East,82 Patrick St,6.0,h,1900000.0,PI,Ray,1/7/2017,12.3,3166.0,6.0,4.0,3.0,1063.0,Monash City Council,-37.90900,145.12059,Southern Metropolitan,2547.0

In [225]:
df=df[df.isnull().sum(axis=1)  <= 5]

In [226]:
df.shape

(11558, 19)

In [227]:
df.isnull().sum(axis=0).sort_values(ascending=False)/len(df)*100

Price            21.950164
Landsize          1.150718
Bedroom2          1.003634
Car               1.003634
Bathroom          1.003634
Longtitude        0.121128
Lattitude         0.121128
Suburb            0.000000
Regionname        0.000000
CouncilArea       0.000000
Postcode          0.000000
Address           0.000000
Distance          0.000000
Date              0.000000
SellerG           0.000000
Method            0.000000
Type              0.000000
Rooms             0.000000
Propertycount     0.000000
dtype: float64

In [228]:
df = df[df["Price"].notnull()]

In [229]:
df.isnull().sum(axis=0).sort_values(ascending=False)/len(df)*100

Landsize         1.097439
Bedroom2         0.975502
Car              0.975502
Bathroom         0.975502
Longtitude       0.121938
Lattitude        0.121938
Suburb           0.000000
Regionname       0.000000
CouncilArea      0.000000
Postcode         0.000000
Address          0.000000
Distance         0.000000
Date             0.000000
SellerG          0.000000
Method           0.000000
Price            0.000000
Type             0.000000
Rooms            0.000000
Propertycount    0.000000
dtype: float64

In [230]:
df = df[df["Landsize"].notnull()]

In [231]:
df["Landsize"].describe()

count     8922.000000
mean       468.823134
std       1255.423478
min          0.000000
25%        138.000000
50%        347.000000
75%        620.000000
max      75100.000000
Name: Landsize, dtype: float64

In [232]:
df = df[df["Landsize"].notnull()]

In [233]:
df.isnull().sum(axis=0).sort_values(ascending=False)/len(df)*100

Longtitude       0.123291
Lattitude        0.123291
Suburb           0.000000
Bedroom2         0.000000
Regionname       0.000000
CouncilArea      0.000000
Landsize         0.000000
Car              0.000000
Bathroom         0.000000
Postcode         0.000000
Address          0.000000
Distance         0.000000
Date             0.000000
SellerG          0.000000
Method           0.000000
Price            0.000000
Type             0.000000
Rooms            0.000000
Propertycount    0.000000
dtype: float64

In [234]:
df = df[df["Longtitude"].notnull()]
df = df[df["Lattitude"].notnull()]

In [235]:
df.isnull().sum(axis=0).sort_values(ascending=False)/len(df)*100

Suburb           0.0
Bedroom2         0.0
Regionname       0.0
Longtitude       0.0
Lattitude        0.0
CouncilArea      0.0
Landsize         0.0
Car              0.0
Bathroom         0.0
Postcode         0.0
Address          0.0
Distance         0.0
Date             0.0
SellerG          0.0
Method           0.0
Price            0.0
Type             0.0
Rooms            0.0
Propertycount    0.0
dtype: float64

In [236]:
df["Car"].describe()

count    8911.000000
mean        1.526316
std         0.932249
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         8.000000
Name: Car, dtype: float64

In [237]:
df["Car"].astype("category").value_counts()

Car
1.0    4025
2.0    3332
0.0     749
3.0     438
4.0     295
5.0      33
6.0      26
7.0       7
8.0       6
Name: count, dtype: int64

In [238]:
df["Car"]

1        1.0
2        0.0
4        0.0
5        1.0
6        2.0
        ...
14541    3.0
14542    0.0
14543    1.0
14545    6.0
14546    3.0
Name: Car, Length: 8911, dtype: float64

In [239]:
df["Car"].fillna(0 , inplace = True)

In [240]:
df.isnull().sum(axis=0).sort_values(ascending=False)/len(df)*100

Suburb           0.0
Bedroom2         0.0
Regionname       0.0
Longtitude       0.0
Lattitude        0.0
CouncilArea      0.0
Landsize         0.0
Car              0.0
Bathroom         0.0
Postcode         0.0
Address          0.0
Distance         0.0
Date             0.0
SellerG          0.0
Method           0.0
Price            0.0
Type             0.0
Rooms            0.0
Propertycount    0.0
dtype: float64

In [241]:
df["Bathroom"].value_counts()

Bathroom
1.0    5242
2.0    2969
3.0     580
4.0      66
0.0      29
5.0      18
6.0       4
7.0       2
8.0       1
Name: count, dtype: int64

In [242]:
df["Bathroom"].fillna(1,inplace=True)

In [243]:
df["Bedroom2"].value_counts()

Bedroom2
3.0     3690
2.0     2869
4.0     1438
1.0      544
5.0      314
6.0       31
0.0       12
7.0        6
8.0        3
9.0        3
20.0       1
Name: count, dtype: int64

In [244]:
df["Bedroom2"].fillna(3,inplace=True)

In [245]:
df.isnull().sum(axis=0).sort_values(ascending=False)/len(df)*100

Suburb           0.0
Bedroom2         0.0
Regionname       0.0
Longtitude       0.0
Lattitude        0.0
CouncilArea      0.0
Landsize         0.0
Car              0.0
Bathroom         0.0
Postcode         0.0
Address          0.0
Distance         0.0
Date             0.0
SellerG          0.0
Method           0.0
Price            0.0
Type             0.0
Rooms            0.0
Propertycount    0.0
dtype: float64

In [246]:
print("I love python")

I love python

In [247]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8911 entries, 1 to 14546
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         8911 non-null   object
 1   Address        8911 non-null   object
 2   Rooms          8911 non-null   float64
 3   Type           8911 non-null   object
 4   Price          8911 non-null   float64
 5   Method         8911 non-null   object
 6   SellerG        8911 non-null   object
 7   Date           8911 non-null   object
 8   Distance       8911 non-null   float64
 9   Postcode       8911 non-null   float64
 10  Bedroom2       8911 non-null   float64
 11  Bathroom       8911 non-null   float64
 12  Car            8911 non-null   float64
 13  Landsize       8911 non-null   float64
 14  CouncilArea    8911 non-null   object
 15  Lattitude      8911 non-null   float64
 16  Longtitude     8911 non-null   float64
 17  Regionname     8911 non-null   object
 18  Propertycount  8911 non-null   float64
dtypes: float64(11), object(8)
memory usage: 1.4+ MB

In [248]:
df["Date"]

1        3/12/2016
2         4/2/2016
4         4/3/2017
5         4/3/2017
6         4/6/2016
           ...
14541     1/7/2017
14542     1/7/2017
14543     1/7/2017
14545     1/7/2017
14546     1/7/2017
Name: Date, Length: 8911, dtype: object

In [249]:
df["Date"]=pd.to_datetime(df["Date"], format="%d/%m/%Y")

In [250]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8911 entries, 1 to 14546
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         8911 non-null   object
 1   Address        8911 non-null   object
 2   Rooms          8911 non-null   float64
 3   Type           8911 non-null   object
 4   Price          8911 non-null   float64
 5   Method         8911 non-null   object
 6   SellerG        8911 non-null   object
 7   Date           8911 non-null   datetime64[ns]
 8   Distance       8911 non-null   float64
 9   Postcode       8911 non-null   float64
 10  Bedroom2       8911 non-null   float64
 11  Bathroom       8911 non-null   float64
 12  Car            8911 non-null   float64
 13  Landsize       8911 non-null   float64
 14  CouncilArea    8911 non-null   object
 15  Lattitude      8911 non-null   float64
 16  Longtitude     8911 non-null   float64
 17  Regionname     8911 non-null   object
 18  Propertycount  8911 non-null   float64
dtypes: datetime64[ns](1), float64(11), object(7)
memory usage: 1.4+ MB

In [251]:
df["Date"].info()

<class 'pandas.core.series.Series'>
Index: 8911 entries, 1 to 14546
Series name: Date
Non-Null Count  Dtype
--------------  -----
8911 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 139.2 KB

In [252]:
df["Date"]

1       2016-12-03
2       2016-02-04
4       2017-03-04
5       2017-03-04
6       2016-06-04
           ...
14541   2017-07-01
14542   2017-07-01
14543   2017-07-01
14545   2017-07-01
14546   2017-07-01
Name: Date, Length: 8911, dtype: datetime64[ns]

In [253]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8911 entries, 1 to 14546
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         8911 non-null   object
 1   Address        8911 non-null   object
 2   Rooms          8911 non-null   float64
 3   Type           8911 non-null   object
 4   Price          8911 non-null   float64
 5   Method         8911 non-null   object
 6   SellerG        8911 non-null   object
 7   Date           8911 non-null   datetime64[ns]
 8   Distance       8911 non-null   float64
 9   Postcode       8911 non-null   float64
 10  Bedroom2       8911 non-null   float64
 11  Bathroom       8911 non-null   float64
 12  Car            8911 non-null   float64
 13  Landsize       8911 non-null   float64
 14  CouncilArea    8911 non-null   object
 15  Lattitude      8911 non-null   float64
 16  Longtitude     8911 non-null   float64
 17  Regionname     8911 non-null   object
 18  Propertycount  8911 non-null   float64
dtypes: datetime64[ns](1), float64(11), object(7)
memory usage: 1.4+ MB

In [254]:
pd.to_datetime(df["Date"])

1       2016-12-03
2       2016-02-04
4       2017-03-04
5       2017-03-04
6       2016-06-04
           ...
14541   2017-07-01
14542   2017-07-01
14543   2017-07-01
14545   2017-07-01
14546   2017-07-01
Name: Date, Length: 8911, dtype: datetime64[ns]

In [255]:
df["Date"][1]

Timestamp('2016-12-03 00:00:00')

In [256]:
df["Date"][1].year

2016

In [257]:
df["Date"][1].month

12

In [258]:
df["Date"][1].day

3

In [259]:
df["Year"]=df["Date"].apply(lambda x : x.year)

In [260]:
df["Month"]=df["Date"].apply(lambda x : x.month)

In [261]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8911 entries, 1 to 14546
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         8911 non-null   object
 1   Address        8911 non-null   object
 2   Rooms          8911 non-null   float64
 3   Type           8911 non-null   object
 4   Price          8911 non-null   float64
 5   Method         8911 non-null   object
 6   SellerG        8911 non-null   object
 7   Date           8911 non-null   datetime64[ns]
 8   Distance       8911 non-null   float64
 9   Postcode       8911 non-null   float64
 10  Bedroom2       8911 non-null   float64
 11  Bathroom       8911 non-null   float64
 12  Car            8911 non-null   float64
 13  Landsize       8911 non-null   float64
 14  CouncilArea    8911 non-null   object
 15  Lattitude      8911 non-null   float64
 16  Longtitude     8911 non-null   float64
 17  Regionname     8911 non-null   object
 18  Propertycount  8911 non-null   float64
 19  Year           8911 non-null   int64
 20  Month          8911 non-null   int64
dtypes: datetime64[ns](1), float64(11), int64(2), object(7)
memory usage: 1.7+ MB

In [262]:
for columns in df:
  print(columns ,":", len(df[columns].unique()))

Suburb : 195
Address : 8799
Rooms : 8
Type : 3
Price : 1828
Method : 5
SellerG : 199
Date : 43
Distance : 137
Postcode : 132
Bedroom2 : 11
Bathroom : 9
Car : 9
Landsize : 1242
CouncilArea : 29
Lattitude : 2521
Longtitude : 2979
Regionname : 8
Propertycount : 193
Year : 2
Month : 12

In [263]:
columns_for_dummy = {
    "Suburb" : "SU",
    "Type" : "TY",
    "Method" : "ME",
    "SellerG" : "SE",
    "CouncilArea" : "CO",
    "Regionname" : "RE"
}

In [267]:
for key,value in columns_for_dummy.items():
  print(key,value)

Suburb SU
Type TY
Method ME
SellerG SE
CouncilArea CO
Regionname RE

In [267]:
for key, value in columns_for_dummy.items():
  dummies = pd.get_dummies(df[key],prefix=value,drop_first=True)