<a href="https://colab.research.google.com/github/eleven111101/Lasso_Ridge_Regression_01/blob/main/LaRi_Melbourne_Housing_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [370]:
print("Hello_world")

Hello_world

In [371]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [372]:
df=pd.read_csv("/content/Melbourne_housing_FULL.csv")

In [373]:
df.head(10)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/9/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/2/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/2/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/3/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/3/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra City Council,-37.7969,144.9969,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/6/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.8072,144.9941,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4,h,NaN,SN,Nelson,6/8/2016,2.5,3067.0,...,2.0,2.0,400.0,220.0,2006.0,Yarra City Council,-37.7965,144.9965,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2,h,NaN,S,Biggin,6/8/2016,2.5,3067.0,...,1.0,2.0,201.0,NaN,1900.0,Yarra City Council,-37.7995,144.9974,Northern Metropolitan,4019.0
9,Abbotsford,99 Turner St,2,h,NaN,S,Collins,6/8/2016,2.5,3067.0,...,2.0,1.0,202.0,NaN,1900.0,Yarra City Council,-37.7996,144.9989,Northern Metropolitan,4019.0

In [374]:
# Check for null values without modifying DataFrame
df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [375]:
null_values = df[df.isnull()]
print(null_values.to_string())

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [376]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34857 entries, 0 to 34856
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         34857 non-null  object
 1   Address        34857 non-null  object
 2   Rooms          34857 non-null  int64
 3   Type           34857 non-null  object
 4   Price          27247 non-null  float64
 5   Method         34857 non-null  object
 6   SellerG        34857 non-null  object
 7   Date           34857 non-null  object
 8   Distance       34856 non-null  float64
 9   Postcode       34856 non-null  float64
 10  Bedroom2       26640 non-null  float64
 11  Bathroom       26631 non-null  float64
 12  Car            26129 non-null  float64
 13  Landsize       23047 non-null  float64
 14  BuildingArea   13742 non-null  float64
 15  YearBuilt      15551 non-null  float64
 16  CouncilArea    34854 non-null  object
 17  Lattitude      26881 non-null  float64
 18  Longtitude     26881 non-null  float64
 19  Regionname     34854 non-null  object
 20  Propertycount  34854 non-null  float64
dtypes: float64(12), int64(1), object(8)
memory usage: 5.6+ MB

In [377]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

In [378]:
df["SellerG"].unique()

array(['Jellis', 'Biggin', 'Rounds', 'Nelson', 'Collins', 'Dingle',
       'Purplebricks', 'Greg', 'Philip', 'LITTLE', 'Kay', 'Beller',
       'Marshall', 'hockingstuart', 'Brad', 'Maddison', 'Barry',
       'Airport', 'Considine', 'Rendina', 'Ray', 'Propertyau', 'McDonald',
       'Frank', 'Prof.', 'Harcourts', 'Thomson', 'Buxton', 'RT',
       "Sotheby's", 'Cayzer', 'Chisholm', 'McGrath', 'Brace', 'Miles',
       'Holland', 'Love', 'Thomas', 'Barlow', 'Sweeney', 'Village', 'Jas',
       'Williams', 'Gunn&Co', 'Burnham', 'Point', 'Compton', 'FN',
       'Hunter', 'Raine&Horne', 'Noel', 'Hodges', 'Gary', 'Fletchers',
       'Woodards', 'Raine', 'Alexkarbon', 'Walshe', 'Weda', 'Stockdale',
       'Tim', 'Buxton/Marshall', 'AIME', 'Moonee', 'HAR', 'Edward', 'RW',
       'North', 'MICM', 'Ascend', 'Christopher', 'Morrison', 'Bekdon',
       'Mandy', 'R&H', 'Fletchers/One', 'Lindellas', 'Appleby', 'Assisi',
       'One', 'Owen', 'Parkes', 'C21', 'Century', "O'Brien", 'Bayside',
       'Anderson', 'Paul', 'hockingstuart/Buxton', 'Smart', 'First',
       'Matthew', 'Melbourne', 'Nick', 'Allens', 'Bells', 'Nguyen',
       'Trimson', 'Douglas', 'Batty', 'GL', 'YPA', "Tiernan's", 'J',
       'Castran', 'Branon', 'Rodney', 'Joseph', 'Harrington', 'Galldon',
       'Grantham', 'Chambers', 'Pagan', 'Peter',
       'hockingstuart/Advantage', 'Ross', 'Rayner', 'Garvey',
       "O'Donoghues", 'Hamilton', 'Weast', 'Kelly', 'Property',
       "Private/Tiernan's", 'Australian', 'Bustin', "Abercromby's",
       'Whiting', 'iTRAK', 'Del', 'Caine', 'Nicholson', 'JMRE', 'ASL',
       'Changing', 'Re', 'RE', 'Walsh', 'Foxtons', 'Ham', 'Darren', 'Vic',
       'Haughton', 'Scott', 'Pride', 'Morleys', 'Wilson',
       'Buxton/Advantage', 'Professionals', 'Joe', 'Red',
       'hockingstuart/Jellis', 'Craig', 'Naison', 'Sweeney/Advantage',
       'Reach', 'Domain', 'Eview', 'Jason', "D'Aprano", 'Charlton',
       'CASTRAN', 'Wood', 'William', 'Coventry', 'Buckingham', 'Nardella',
       'Karen', 'LJ', 'Shape', 'Direct', 'Fletchers/Fletchers', 'Besser',
       'Johnston', 'Avion', 'Redina', 'Clairmont', 'Lucas', 'Dixon',
       'Xynergy', 'Elite', 'Buxton/Find', 'W.B.', 'Leased',
       'Harcourts/Barry', 'Win', 'Collings', 'New', 'Parkinson', 'Geoff',
       'hockingstuart/Barry', 'Blue', 'MSM', 'Steveway',
       'hockingstuart/Village', 'VICPROP', 'Inner', 'Meadows', 'Allan',
       'S&L', 'Crane', 'Calder', 'Metro', 'Homes', 'Zahn', 'Mason',
       'Landfield', 'David', 'Luxe', 'Prowse', 'Ken', 'Rombotis', 'iOne',
       'hockingstuart/Sweeney', 'Iconek', 'Luxton', 'Hooper', 'JRW',
       'Oak', 'White', 'Jim', 'Weston', '@Realty', 'Reed', 'Oriental',
       'Max', 'Steller', 'Rosin', 'Real', 'Jeffrey', 'Hall', 'Icon',
       'buyMyplace', 'WHITEFOX', 'Christou', 'Marvelli', "Grant's",
       'Hoskins', 'Gardiner', 'McLennan', 'Triwest', 'Reliance',
       'PRDNationwide', 'Only', 'Leyton', 'iSell', 'Obrien', 'Maitland',
       'Millership', 'L', 'Emerson', 'Follett', 'Ash', 'LLC', 'Ace',
       'Flannagan', 'Carter', 'WeSell', 'M.J', 'iProperty',
       'Hayeswinckle', 'Schroeder', 'iHomes', 'VICProp', 'REMAX', 'Space',
       'Victory', 'Aumeca', 'Mindacom', 'Ryder', 'Sanctuary', 'Leeburn',
       'Asset', 'Westside', 'Sell', 'Mitchell', 'Darras', 'U', 'Nicholas',
       'Rexhepi', 'Keatings', 'Aquire', 'Conquest', 'Prime', 'Donovan',
       'Community', 'Free', 'Veitch', 'John', 'Peake', 'Ristic', 'JY',
       'Upper', 'Daniel', 'VicHomes', 'TRUE', 'McNaughton', 'Leading',
       'Bullen', 'Better', 'Boutique', 'Royston', 'Langwell', 'Silver',
       'Wyndham', 'Kaye', 'Nicholls', 'Bowman', 'Just', 'Home', 'Le',
       'Cooper', 'Black', 'The', 'Open', 'Roger', 'McEwing', 'Sandhurst',
       'Boran', 'hockingstuart/hockingstuart', 'Area', 'MJ', 'Eric', 'SN',
       'Waterfront', 'P', 'PRD', 'Bombay', 'Quinta', 'T', 'Tanner', 'LJH',
       'Munn', 'Knight', 'Justin', 'Blackbird', 'Sweeney/Burnham', 'H',
       'Alex', 'Can', 'Pavilion', 'Benchmark', 'Gellibrand',
       'hockingstuart/Harcourts', 'Charter', 'Surreal', 'Vicprop', 'A',
       'Upside', 'OBrien', 'Meallin', 'Malvern', 'Mark', 'Bradly', 'For',
       'Peninsula', 'Sutherland', 'Leaders', 'Spencer',
       'McGrath/Langwell', 'Benlor', 'Burns', 'Sterling', 'K.R.Peters',
       'Buxton/Buxton', 'CarlinSmith', 'Gold', 'Hill', 'People',
       'hockingstuart/Biggin', 'Mega', 'Skad', 'Ruralco', 'Create',
       'Janice', 'R', 'G&H', 'Commercial', 'PSP', 'hockingstuart/Cayzer',
       'Unity', 'Sprint', 'McGrath/Buxton', 'hockingstuart/Marshall',
       'McGrath/First', 'voglwalpole', 'Watermark', 'Methven'],
      dtype=object)

In [379]:
df.shape

(34857, 21)

In [380]:
df["Bedroom2"].isnull().sum()

8217

In [381]:
df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

In [382]:
# For columns axis=0
df.isnull().sum(axis=0).sort_values(ascending=False)

BuildingArea     21115
YearBuilt        19306
Landsize         11810
Car               8728
Bathroom          8226
Bedroom2          8217
Longtitude        7976
Lattitude         7976
Price             7610
Regionname           3
CouncilArea          3
Propertycount        3
Postcode             1
Distance             1
Address              0
Date                 0
SellerG              0
Method               0
Type                 0
Rooms                0
Suburb               0
dtype: int64

In [383]:
# For rows axis=1
df.isnull().sum(axis=1).sort_values(ascending=False)

29483    13
18523    11
26888    11
32125     9
11231     9
         ..
24737     0
24738     0
9437      0
9435      0
34856     0
Length: 34857, dtype: int64

In [384]:
df[df.isnull().any(axis=1)]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/9/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/2/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/3/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra City Council,-37.79690,144.99690,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4,h,NaN,SN,Nelson,6/8/2016,2.5,3067.0,...,2.0,2.0,400.0,220.0,2006.0,Yarra City Council,-37.79650,144.99650,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34848,Wollert,16 Gunther Wy,4,h,621000.0,S,hockingstuart,24/02/2018,25.5,3750.0,...,2.0,2.0,375.0,NaN,NaN,Whittlesea City Council,-37.61331,145.03412,Northern Metropolitan,2940.0
34850,Wollert,15 Rockgarden Wy,3,h,NaN,SP,LJ,24/02/2018,25.5,3750.0,...,2.0,2.0,268.0,135.0,2016.0,Whittlesea City Council,-37.61094,145.04281,Northern Metropolitan,2940.0
34851,Yarraville,78 Bayview Rd,3,h,1101000.0,S,Jas,24/02/2018,6.3,3013.0,...,1.0,NaN,288.0,NaN,NaN,Maribyrnong City Council,-37.81095,144.88516,Western Metropolitan,6543.0
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,...,1.0,3.0,593.0,NaN,NaN,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,...,NaN,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0

In [385]:
df.isnull().sum(axis=0).sort_values(ascending=False) / len(df) *100

BuildingArea     60.576068
YearBuilt        55.386293
Landsize         33.881286
Car              25.039447
Bathroom         23.599277
Bedroom2         23.573457
Longtitude       22.882061
Lattitude        22.882061
Price            21.832057
Regionname        0.008607
CouncilArea       0.008607
Propertycount     0.008607
Postcode          0.002869
Distance          0.002869
Address           0.000000
Date              0.000000
SellerG           0.000000
Method            0.000000
Type              0.000000
Rooms             0.000000
Suburb            0.000000
dtype: float64

In [386]:
columns_drop=["BuildingArea","YearBuilt"]

In [387]:
df.drop(columns_drop , axis=1 , inplace=True)

In [388]:
df.shape

(34857, 19)

In [389]:
len(df[df.isnull().sum(axis=1) > 5 ]) / len(df) *100

22.80747052242017

In [390]:
df[df.isnull().sum(axis=1)  > 5]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
15,Abbotsford,217 Langridge St,3,h,1000000.0,S,Jellis,8/10/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2,t,745000.0,S,Jellis,8/10/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
19,Abbotsford,403/609 Victoria St,2,u,542000.0,S,Dingle,8/10/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
21,Abbotsford,25/84 Trenerry Cr,2,u,760000.0,SP,Biggin,10/12/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
22,Abbotsford,106/119 Turner St,1,u,481000.0,SP,Purplebricks,10/12/2016,2.5,3067.0,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34838,Williamstown,11/81 Melbourne Rd,2,u,450000.0,SP,Raine,24/02/2018,6.8,3016.0,NaN,NaN,NaN,NaN,Hobsons Bay City Council,NaN,NaN,Western Metropolitan,6380.0
34839,Williamstown,24/18 Station Rd,2,u,475000.0,SP,Greg,24/02/2018,6.8,3016.0,NaN,NaN,NaN,NaN,Hobsons Bay City Council,NaN,NaN,Western Metropolitan,6380.0
34840,Williamstown,3/2 Thompson St,2,u,520000.0,VB,Raine,24/02/2018,6.8,3016.0,NaN,NaN,NaN,NaN,Hobsons Bay City Council,NaN,NaN,Western Metropolitan,6380.0
34844,Windsor,4/16 Lewisham Rd,1,u,440000.0,SP,Biggin,24/02/2018,4.6,3181.0,NaN,NaN,NaN,NaN,Port Phillip City Council,NaN,NaN,Southern Metropolitan,4380.0
34855,Yarraville,12/37 Stephen St,3,h,1140000.0,SP,hockingstuart,24/02/2018,6.3,3013.0,NaN,NaN,NaN,NaN,Maribyrnong City Council,NaN,NaN,Western Metropolitan,6543.0

In [391]:
df[df.isnull().sum(axis=1)  <= 5]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/9/2016,2.5,3067.0,2.0,1.0,1.0,126.0,Yarra City Council,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,Yarra City Council,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/2/2016,2.5,3067.0,2.0,1.0,0.0,156.0,Yarra City Council,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/2/2016,2.5,3067.0,3.0,2.0,1.0,0.0,Yarra City Council,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/3/2017,2.5,3067.0,3.0,2.0,0.0,134.0,Yarra City Council,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34851,Yarraville,78 Bayview Rd,3,h,1101000.0,S,Jas,24/02/2018,6.3,3013.0,3.0,1.0,NaN,288.0,Maribyrnong City Council,-37.81095,144.88516,Western Metropolitan,6543.0
34852,Yarraville,13 Burns St,4,h,1480000.0,PI,Jas,24/02/2018,6.3,3013.0,4.0,1.0,3.0,593.0,Maribyrnong City Council,-37.81053,144.88467,Western Metropolitan,6543.0
34853,Yarraville,29A Murray St,2,h,888000.0,SP,Sweeney,24/02/2018,6.3,3013.0,2.0,2.0,1.0,98.0,Maribyrnong City Council,-37.81551,144.88826,Western Metropolitan,6543.0
34854,Yarraville,147A Severn St,2,t,705000.0,S,Jas,24/02/2018,6.3,3013.0,2.0,1.0,2.0,220.0,Maribyrnong City Council,-37.82286,144.87856,Western Metropolitan,6543.0
34856,Yarraville,3 Tarrengower St,2,h,1020000.0,PI,RW,24/02/2018,6.3,3013.0,2.0,1.0,0.0,250.0,Maribyrnong City Council,-37.81810,144.89351,Western Metropolitan,6543.0

In [392]:
df=df[df.isnull().sum(axis=1)  <= 5]

In [393]:
df.shape

(26907, 19)

In [394]:
df.isnull().sum(axis=0).sort_values(ascending=False)/len(df)*100

Price            21.897647
Landsize         14.345709
Car               2.891441
Bathroom          1.025755
Bedroom2          0.992307
Longtitude        0.096629
Lattitude         0.096629
Suburb            0.000000
Regionname        0.000000
CouncilArea       0.000000
Postcode          0.000000
Address           0.000000
Distance          0.000000
Date              0.000000
SellerG           0.000000
Method            0.000000
Type              0.000000
Rooms             0.000000
Propertycount     0.000000
dtype: float64

In [395]:
df = df[df["Price"].notnull()]

In [396]:
df.isnull().sum(axis=0).sort_values(ascending=False)/len(df)*100

Landsize         14.432548
Car               2.817035
Bathroom          1.023079
Bedroom2          0.994528
Longtitude        0.104687
Lattitude         0.104687
Suburb            0.000000
Regionname        0.000000
CouncilArea       0.000000
Postcode          0.000000
Address           0.000000
Distance          0.000000
Date              0.000000
SellerG           0.000000
Method            0.000000
Price             0.000000
Type              0.000000
Rooms             0.000000
Propertycount     0.000000
dtype: float64

In [397]:
df = df[df["Landsize"].notnull()]

In [398]:
df["Landsize"].describe()

count     17982.000000
mean        593.488933
std        3757.266429
min           0.000000
25%         219.000000
50%         512.000000
75%         664.000000
max      433014.000000
Name: Landsize, dtype: float64

In [399]:
df = df[df["Landsize"].notnull()]

In [400]:
df.isnull().sum(axis=0).sort_values(ascending=False)/len(df)*100

Car              1.562674
Longtitude       0.122345
Lattitude        0.122345
Bathroom         0.050050
Bedroom2         0.033367
Suburb           0.000000
Regionname       0.000000
CouncilArea      0.000000
Landsize         0.000000
Postcode         0.000000
Address          0.000000
Distance         0.000000
Date             0.000000
SellerG          0.000000
Method           0.000000
Price            0.000000
Type             0.000000
Rooms            0.000000
Propertycount    0.000000
dtype: float64

In [401]:
df = df[df["Longtitude"].notnull()]
df = df[df["Lattitude"].notnull()]

In [402]:
df.isnull().sum(axis=0).sort_values(ascending=False)/len(df)*100

Car              1.564588
Bathroom         0.050111
Bedroom2         0.033408
Suburb           0.000000
Regionname       0.000000
Longtitude       0.000000
Lattitude        0.000000
CouncilArea      0.000000
Landsize         0.000000
Postcode         0.000000
Address          0.000000
Distance         0.000000
Date             0.000000
SellerG          0.000000
Method           0.000000
Price            0.000000
Type             0.000000
Rooms            0.000000
Propertycount    0.000000
dtype: float64

In [403]:
df["Car"].describe()

count    17679.000000
mean         1.698739
std          0.999023
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max         18.000000
Name: Car, dtype: float64

In [404]:
df["Car"].astype("category").value_counts()

Car
2.0     7955
1.0     6477
0.0     1178
3.0     1065
4.0      777
5.0       99
6.0       92
7.0       16
8.0       12
10.0       4
9.0        2
11.0       1
18.0       1
Name: count, dtype: int64

In [405]:
df["Car"]

1        1.0
2        0.0
4        0.0
5        1.0
6        2.0
        ...
34851    NaN
34852    3.0
34853    1.0
34854    2.0
34856    0.0
Name: Car, Length: 17960, dtype: float64

In [406]:
df["Car"].fillna(0 , inplace = True)

In [407]:
df.isnull().sum(axis=0).sort_values(ascending=False)/len(df)*100

Bathroom         0.050111
Bedroom2         0.033408
Suburb           0.000000
Regionname       0.000000
Longtitude       0.000000
Lattitude        0.000000
CouncilArea      0.000000
Landsize         0.000000
Car              0.000000
Postcode         0.000000
Address          0.000000
Distance         0.000000
Date             0.000000
SellerG          0.000000
Method           0.000000
Price            0.000000
Type             0.000000
Rooms            0.000000
Propertycount    0.000000
dtype: float64

In [408]:
df["Bathroom"].value_counts()

Bathroom
1.0    9270
2.0    7132
3.0    1304
4.0     154
5.0      43
0.0      34
6.0       9
7.0       2
8.0       2
9.0       1
Name: count, dtype: int64

In [409]:
df["Bathroom"].fillna(1,inplace=True)

In [410]:
df["Bedroom2"].value_counts()

Bedroom2
3.0     8094
2.0     4127
4.0     4055
5.0      840
1.0      701
6.0       91
0.0       16
7.0       14
8.0        7
10.0       4
9.0        3
20.0       1
12.0       1
Name: count, dtype: int64

In [411]:
df["Bedroom2"].fillna(3,inplace=True)

In [412]:
df.isnull().sum(axis=0).sort_values(ascending=False)/len(df)*100

Suburb           0.0
Bedroom2         0.0
Regionname       0.0
Longtitude       0.0
Lattitude        0.0
CouncilArea      0.0
Landsize         0.0
Car              0.0
Bathroom         0.0
Postcode         0.0
Address          0.0
Distance         0.0
Date             0.0
SellerG          0.0
Method           0.0
Price            0.0
Type             0.0
Rooms            0.0
Propertycount    0.0
dtype: float64

In [413]:
print("I love python")

I love python

In [414]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17960 entries, 1 to 34856
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         17960 non-null  object
 1   Address        17960 non-null  object
 2   Rooms          17960 non-null  int64
 3   Type           17960 non-null  object
 4   Price          17960 non-null  float64
 5   Method         17960 non-null  object
 6   SellerG        17960 non-null  object
 7   Date           17960 non-null  object
 8   Distance       17960 non-null  float64
 9   Postcode       17960 non-null  float64
 10  Bedroom2       17960 non-null  float64
 11  Bathroom       17960 non-null  float64
 12  Car            17960 non-null  float64
 13  Landsize       17960 non-null  float64
 14  CouncilArea    17960 non-null  object
 15  Lattitude      17960 non-null  float64
 16  Longtitude     17960 non-null  float64
 17  Regionname     17960 non-null  object
 18  Propertycount  17960 non-null  float64
dtypes: float64(10), int64(1), object(8)
memory usage: 2.7+ MB

In [415]:
df["Date"]

1         3/12/2016
2          4/2/2016
4          4/3/2017
5          4/3/2017
6          4/6/2016
            ...
34851    24/02/2018
34852    24/02/2018
34853    24/02/2018
34854    24/02/2018
34856    24/02/2018
Name: Date, Length: 17960, dtype: object

In [416]:
pd.to_datetime(df["Date"], format="%d/%m/%Y")

1       2016-12-03
2       2016-02-04
4       2017-03-04
5       2017-03-04
6       2016-06-04
           ...
34851   2018-02-24
34852   2018-02-24
34853   2018-02-24
34854   2018-02-24
34856   2018-02-24
Name: Date, Length: 17960, dtype: datetime64[ns]

In [369]:
df["Date"]=pd.to_datetime(df["Date"], format="%d/%m/%Y")